<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>809125697379-jqo3jaqptbhlt8cmj2o9qtef4b7l5i25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809125697379-jqo3jaqptbhlt8cmj2o9qtef4b7l5i25</string>
	<key>API_KEY</key>
	<string>AIzaSyAkZRT-EUy7FArDlY7c0vbM2M-ZB4wf04c</string>
	<key>GCM_SENDER_ID</key>
	<string>809125697379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>c52-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>c52-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809125697379:ios:764d2cb7da3280eb</string>
	<key>DATABASE_URL</key>
	<string>https://c52-mobile.firebaseio.com</string>
</dict>
</plist>