<!--
  Generated template for the Campaigns page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>{{campaign.title}} - Jobs</ion-title>
        </ion-navbar>
    </ion-header>


<ion-content padding>
    <ion-spinner *ngIf="loading"></ion-spinner>
    <div *ngIf="!loading && jobs.length < 1">There were not any jobs found for this event.</div>
    <div *ngIf="!loading && jobs.length > 0">
        <ion-list>
            <ion-card class="course-card" *ngFor="let item of jobs">
                <ion-card-content>
                    <ion-card-title>{{item.name}}</ion-card-title>
                    <p>{{item.description}}</p>
                    <ul>
                        <li>Number of Volunteers Needed: {{item.numberOfVolunteersStillNeeded}}</li>
                        <li>Number of Shifts: {{item.numberOfShifts}}</li>
                        <li>skills: {{item.skills}}</li>
                        <li>Recurring: {{item.ongoing}}</li>
                        <li>Location:
                            <ul>
                                <li>{{item.location.street}}</li>
                                <li>{{item.location.city}}, {{item.location.state}} {{item.location.zip}}</li>
                            </ul>
                        </li>
                    </ul>
                </ion-card-content>
                <button ion-button clear small (click)="getShifts(item)">
                    <div>View Shifts</div>
                </button>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
