<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Church 52</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-padding">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et nunc vitae tortor vulputate interdum. Donec eu dui vitae ex tempus feugiat. 
          Aenean nec congue nibh. Vestibulum cursus dapibus vehicula. Phasellus aliquet, eros quis pulvinar suscipit, est augue iaculis nisi, eu
          pellentesque sapien sem vel risus. Vestibulum viverra libero eu condimentum ornare. Maecenas feugiat porta ex. Morbi nisl felis, dapibus
          et luctus id, viverra nec sapien. Sed sagittis leo non rutrum tempor.
        </p>
        <p class="ion-padding">
            Etiam vel semper nunc. Vivamus a magna sit amet orci facilisis interdum. Phasellus scelerisque, nisi at scelerisque pulvinar, sapien ipsum
            congue urna, eu lacinia nulla massa vel velit. Aenean cursus libero ac iaculis convallis. Cras dui lacus, maximus id tortor id, varius pretium mi.
            Proin eu massa elit. Phasellus tristique quam eu fringilla vestibulum. Suspendisse potenti. Donec laoreet volutpat magna, non congue ligula
            tristique vel. Quisque aliquet faucibus vehicula.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
